# Ignorar ambiente virtual
venv/
.venv/

# Ignorar senhas e configurações locais
.env
.env.example

# Ignorar banco de dados local
chroma_db/
*.db
*.sqlite3

# Ignorar arquivos temporários do sistema e python
__pycache__/
*.pyc
.DS_Store
temp_*